{% extends "base.html" %}
{% block title %} {{post.title}} {% endblock %}
{% block content %}

<div class="jumbotron">
  <img
    src="{{post.image}}"
    class="card-img-top"
    alt="{{post.title}}"
    height="286px"
  />
  <h1 class="display-3">{{ post.title }}</h1>
  <p class="lead">
    <a
      class="btn btn-secondary btn-lg"
      href="{% url 'category' post.category.id %}"
      role="button"
      >{{ post.category }}</a
    >
  </p>
  <p class="lead">
    By: {{ post.author }} - Time: {{ post.post_date }} - Since post: {{ post.post_date|timesince }} ego
  </p>
  <hr class="my-4" />
  <p>{{post.body|safe}}</p>
  <p class="lead">
    {% if user.is_authenticated %} {% if user.id == post.author.id %}
    <a
      class="btn btn-primary btn-lg"
      href="{% url 'update' post.pk %}"
      role="button"
      >Edit</a
    >
    <a
      class="btn btn-primary btn-lg"
      href="{% url 'delete' post.pk %}"
      role="button"
      >Delete</a
    >
    {% endif %} {% endif %}
  </p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="{% url 'home' %}" role="button"
      >Back</a
    >
  </p>
</div>
<hr />
<br />


{% endblock %}
