{% extends "base.html" %} {% block content %}

<section class="bg-light pb-5 shadow-sm">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h3 class="text-uppercase text-center border-bottom mb-4">nhl teams</h3>
      </div>
    </div>
  </div>
  <div class="row">
    {% for post in object_list %}
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card">
        <img
          src="{{post.image}}"
          class="card-img-top mt-2"
          alt="{{post.title}}"
          max-height="286px"
        />
        <div class="card-body d-flex flex-column">
          <h4 class="card-title">{{post.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">
            By: {{ post.author|title }} - {{post.category}}
          </h6>
          <p class="card-text mb-4">{{post.body|slice:":100"|safe}}</p>
          <a
            href="{% url 'details' post.pk %}"
            class="btn btn-secondary stretched-link mt-auto align-self-start"
            >Post Details</a
          >
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >{{ post.post_date|timesince }} ego <i class="fa-solid fa-clock"></i
          ></small>
          <!-- <small class="text-muted"><i class="fa-solid fa-thumbs-up"></i></small>{{ total_likes }} -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
